DATABASE_URL="postgresql://user:password@localhost:5432/vendere_app"
JWT_SECRET="your_jwt_secret_min_8_chars"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your_refresh_secret_min_8_chars"
JWT_REFRESH_EXPIRES_IN="30d"
NODE_ENV="development"
PORT=3333